/*example 1*/
#blocks { border: 2px solid #4169E1; background-color: #DADFFA; padding: 10px; width:92px; height: 150px; float: left; width: 280px; }
.block { width: 30px; height: 30px; margin: 5px; border: 1px solid #4169E1; background-color: #535353; color: white; position: relative; display: inline-block; top: 30px; padding-left: 5px; }

/*example 2*/
div.demo-content { z-index: 1; border: 2px solid #4169E1; background-color: #DADFFA; float: left; width: 300px; }
div.demo-content div { border: 1px dotted #4169E1; width: 100px; height: 20px; margin: 10px; padding: 5px; font-size: 0.9em; background-color: #4169E1; color: white; z-index: 1009; }
div.demo-content div:hover { border-style: solid; }

#attributeChanger { border: 1px solid #4169E1; min-height: 50px; margin: 10px; padding: 2px; font-size: 0.9em; background-color: #FEFFFF; color: #574353; opacity: 0; position: absolute; top: -200px; z-index: -1; filter: alpha(opacity=0); z-index:1; min-width: 150px; }

.attrList p { width: 95%; margin-top: 3px; margin-left: 5px; }
.attrList p a, .attrList p span { font-size: 0.9em; vertical-align: bottom; margin-top: 2px; }
.addAttribute  { font-size: 0.7em; margin-top: 10px; }

.logger { height: 200px; overflow: auto; border: 1px solid #4169E1; background-color: #DADFFA; color: black; bottom: 0px; left: 0px; font-size: 0.8em; padding-left: 2px; overflow-y: scroll; float: right; width: 320px;}
.logger p { margin: 0px; }

#addOrmodifyAttr { font-size: 0.8em; width: 250px; border: 1px solid #4169E1; background-color: #DADFFA; padding: 5px 2px; position: fixed; display: none; z-index: 1011; top: 30%; left: 40%; }
#addOrmodifyAttr p { margin-top: 5px; padding: 0px 5px; }
#addOrmodifyAttr button { font-size: 0.8em; }
#addOrmodifyAttr input { text-align: right; font-size: 0.9em; }

#overlay { display: none; background-color: #000; opacity: 0.7; filter: alpha(opacity = 70); position: fixed; top: 0; left: 0; width: 100%; height: 2000px; z-index: 1010; }

/* generic common styles */
.text-right { text-align: right; }
.float-right { float: right; }
.float-left {  float: left; } 
.clear { clear: both; }
.strong { font-weight: bold; }
.nbnbg { border-width: 0px; background-color: transparent; }
.small { font-size: 0.8em; }
.spaced { letter-spacing: 3px; color: #c3c3c3; }
.hidden { display: none; }

h4.title { font-weight: bold; background-color: #4169E1; color: white; padding: 1px 3px; font-size: 1.1em; }

/* overrides */
h1, h2, h3, h4, h5, h6 { margin: 0px; }
p { margin: 4px 0 8px; line-height: 1.2em; }
b { font-weight: bold; }
pre { font-size: 0.7em; }

.example { margin-top: 10px; }
#example1 .logger { height: 172px; }
/* overrides */

#flair { z-index: 1001; }